* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.con,
.buddy {
    height: 100%;
    width: 50%;
    position: fixed;
    padding: auto;
    z-index: 1;
    overflow-x: hidden;
    top: 0;
}

.buddy {
    right: 0;
    background-color: yellow;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.submit {
    background-color: black;
    color: white;
}

.con {
    left: 0;
    background-image: url(R.jpg);
    background-size: 100%;
}