* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.con,
.buddy {
    height: 100%;
    width: 50%;
    position: absolute;
    padding: auto;
    z-index: 1;
    overflow-x: hidden;
    top: 0;
}

h1 {
    font-size: small;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buddy {
    display: flex;
    right: 0;
    background-color: yellow;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.submit {
    background-color: black;
    color: white;
    width: 25%;
}

.con {
    left: 0;
    background-image: url(R.jpg);
    background-size: 100%;
}